page-rever-pedido {
  table {
    thead {
      tr {
        th {
          background-color: cor(light);
          padding: 10px 5px;
          margin-bottom: 10px;
        }
      }
    }
    tbody {
      tr:hover {
        cursor: pointer;
        background-color: cor(light);
      }
      td {
        padding: 10px 5px;
        margin-bottom: 10px;
      }
    }
  }
}
